
#center form {
  margin-bottom: 2em;
}

.form-button, .form-submit {
  margin: 2em 0.5em 1em 0; /* LTR */
}

.box {
  margin-bottom: 2.5em;
}

/**
 * Layout
 */
#header-region {
  min-height: 1em;
  background: #d2e6f3 url(original_images/bg-navigation.png) repeat-x 50% 100%;
}

#header-region .block {
  display: block;
  margin: 0 1em;
}

#header-region .block-region {
  display: block;
  margin: 0 0.5em 1em;
  padding: 0.5em;
  position: relative;
  top: 0.5em;
}

#header-region * {
  display: inline;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

/* Prevent the previous directive from showing the content of script elements in Mozilla browsers. */
#header-region script {
  display: none;
}

#header-region p, #header-region img {
  margin-top: 0.5em;
}

#header-region h2 {
  margin: 0 1em 0 0; /* LTR */
}

#header-region h3, #header-region label, #header-region li {
  margin: 0 1em;
  padding: 0;
  background: none;
}

#wrapper {
  background: #edf5fa url(original_images/body.png) repeat-x 50% 0;
}

#wrapper #container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1270px;
}

#wrapper #container #header {
  height: 80px;
}

#wrapper #container #header #logo-floater {
  position: absolute;
}

#wrapper #container #header h1, #wrapper #container #header h1 a:link, #wrapper #container #header h1 a:visited {
  line-height: 120px;
  position: relative;
  z-index: 2;
  white-space: nowrap;
}

#wrapper #container #header h1 span {
  font-weight: bold;
}

#wrapper #container #header h1 img {
  padding-top: 16px;
  padding-right: 20px; /* LTR */
  float: left; /* LTR */
}

/* With 3 columns, require a minimum width of 1000px to ensure there is enough horizontal space. */
body.sidebars {
  min-width: 980px;
}
/* With 2 columns, require a minimum width of 800px. */
body.sidebar-left, body.sidebar-right {
  min-width: 780px;
}

/* We must define 100% width to avoid the body being too narrow for near-empty pages */
#wrapper #container #center {
  float: left;
  width: 100%;
}

/* So we move the #center container over the sidebars to compensate */
body.sidebar-left #center {
  margin-left: -210px;
}
body.sidebar-right #center {
  margin-right: -210px;
}
body.sidebars #center {
  margin: 0 -210px;
}

/* And add blanks left and right for the sidebars to fill */
body.sidebar-left #squeeze {
  margin-left: 210px;
}
body.sidebar-right #squeeze {
  margin-right: 210px;
}
body.sidebars #squeeze {
  margin: 0 210px;
}

/* We ensure the sidebars are still clickable using z-index */
#wrapper #container .sidebar {
  margin: 60px 0 5em;
  width: 210px;
  float: left;
  z-index: 2;
  position: relative;
}

#wrapper #container .sidebar .block {
  margin: 0 0 1.5em 0;
}

#sidebar-left .block {
  padding: 0 15px 0 0px;
}

#sidebar-right .block {
  padding: 0 0px 0 15px;
}

.block .content {
  margin: 0.5em 0;
}

#sidebar-left .block-region {
  margin: 0 15px 0 0px; /* LTR */
}

#sidebar-right .block-region {
  margin: 0 0px 0 15px; /* LTR */
}

.block-region {
  padding: 1em;
  background: transparent;
  border: 2px dashed #b4d7f0;
  /*text-align: center;*/
  font-size: 1.3em;
}

/* Now we add the backgrounds for the main content shading */

#wrapper #container #center #squeeze {
  background: #fff url(original_images/bg-content.png) repeat-x 50% 0;
  position: relative;
}

#wrapper #container #center .right-corner {
  background: transparent url(original_images/bg-content-right.png) no-repeat 100% 0;
  position: relative;
  left: 10px;
}

#wrapper #container #center .right-corner .left-corner {
  padding: 60px 25px 5em 35px;
  background: transparent url(original_images/bg-content-left.png) no-repeat 0 0;
  margin-left: -10px;
  position: relative;
  left: -10px;
  min-height: 400px;
}

#wrapper #container #footer {
  float: none;
  clear: both;
  text-align: center;
  margin: 4em 0 -3em;
  color: #898989;
}

#wrapper #container .breadcrumb {
  position: absolute;
  top: 15px;
  left: 35px; /* LTR */
  z-index: 3;
}

/**
 * Header
 */
#wrapper #container #header h1, #wrapper #container #header h1 a:link, #wrapper #container #header h1 a:visited {
  color: #fff;
  font-weight: normal;
  text-shadow: #1659ac 0px 1px 3px;
  font-size: 1.5em;
}

#wrapper #container #header h1 a:hover {
  text-decoration: none;
}

#wrapper #container .breadcrumb {
  font-size: 0.92em;
}

#wrapper #container .breadcrumb, #wrapper #container .breadcrumb a {
  color: #529ad6;
}

/**
 * Local tasks
 */
ul.primary, ul.primary li, ul.secondary, ul.secondary li {
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
}

#tabs-wrapper {
  margin: 0 -26px 1em;
  padding: 0 26px;
  border-bottom: 1px solid #e9eff3;
  position: relative;
}
ul.primary {
  padding: 0.5em 0 10px;
  float: left; /* LTR */
}
ul.secondary {
  clear: both;
  text-align: left; /* LTR */
  border-bottom: 1px solid #e9eff3;
  margin: -0.2em -26px 1em;
  padding: 0 26px 0.6em;
}
h2.with-tabs {
  float: left; /* LTR */
  margin: 0 2em 0 0; /* LTR */
  padding: 0;
}

ul.primary li a, ul.primary li.active a, ul.primary li a:hover, ul.primary li a:visited,
ul.secondary li a, ul.secondary li.active a, ul.secondary li a:hover, ul.secondary li a:visited {
  border: 0;
  background: transparent;
  padding: 4px 1em;
  margin: 0 0 0 1px; /* LTR */
  height: auto;
  text-decoration: none;
  position: relative;
  top: -1px;
}
ul.primary li.active a, ul.primary li.active a:link, ul.primary li.active a:visited, ul.primary li a:hover,
ul.secondary li.active a, ul.secondary li.active a:link, ul.secondary li.active a:visited, ul.secondary li a:hover {
  background: url(original_images/bg-tab.png) repeat-x 0 50%;
  color: #fff;
}
ul.primary li.active a,
ul.secondary li.active a {
  font-weight: bold;
}

/**
 * Nodes & comments
 */
.node {
  border-bottom: 1px solid #e9eff3;
  margin: -1.5em -26px 1.5em;
  padding: 1.5em 26px;
}

ul.links li, ul.inline li {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0; /* LTR */
  padding-right: 1em; /* LTR */
  background-image: none;
}

.node .links, .comment .links {
  text-align: left; /* LTR */
}

.node .links ul.links li, .comment .links ul.links li {}
.terms ul.links li {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 1em;
}

.picture, .comment .submitted {
  float: right; /* LTR */
  clear: right; /* LTR */
  padding-left: 1em; /* LTR */
}

.new {
  color: #ffae00;
  font-size: 0.92em;
  font-weight: bold;
  float: right; /* LTR */
}

.terms {
  float: right; /* LTR */
}

.preview .node, .preview .comment, .sticky {
  margin: 0;
  padding: 0.5em 0;
  border: 0;
  background: 0;
}

.sticky {
  padding: 1em;
  background-color: #fff;
  border: 1px solid #e0e5fb;
  margin-bottom: 2em;
}

#comments {
  position: relative;
  top: -1px;
  border-bottom: 1px solid #e9eff3;
  margin: -1.5em -25px 0;
  padding: 0 25px;
}

#comments h2.comments {
  margin: 0 -25px;
  padding: .5em 25px;
  background: #fff url(original_images/gradient-inner.png) repeat-x 0 0;
}

.comment {
  margin: 0 -25px;
  padding: 1.5em 25px 1.5em;
  border-top: 1px solid #e9eff3;
}

form#comment-form #edit-subject-wrapper {
	display: none;
}

.indented {
  margin-left: 25px; /* LTR */
}

.comment h3 a.active {
  color: #494949;
}
/*
.node .content, .comment .content {
  margin: 0.6em 0;
}
*/

/**
 * Aggregator.module
 */
#aggregator {
  margin-top: 1em;
}
#aggregator .feed-item-title {
  font-size: 160%;
  line-height: 130%;
}
#aggregator .feed-item {
  border-bottom: 1px solid #e9eff3;
  margin: -1.5em -31px 1.75em;
  padding: 1.5em 31px;
}
#aggregator .feed-item-categories {
  font-size: 0.92em;
}
#aggregator .feed-item-meta {
  font-size: 0.92em;
  color: #898989;
}

/**
 * Color.module
 */
#palette .form-item {
  border: 1px solid #fff;
}
#palette .item-selected {
  background: #fff url(original_images/gradient-inner.png) repeat-x 0 0;
  border: 1px solid #d9eaf5;
}

/**
 * Menu.module
 */
tr.menu-disabled {
  opacity: 0.5;
}
tr.odd td.menu-disabled {
  background-color: #edf5fa;
}
tr.even td.menu-disabled {
  background-color: #fff;
}

/**
 * Poll.module
 */
.poll .bar {
  background: #fff url(original_images/bg-bar-white.png) repeat-x 0 0;
  border: solid #f0f0f0;
  border-width: 0 1px 1px;
}

.poll .bar .foreground {
  background: #71a7cc url(original_images/bg-bar.png) repeat-x 0 100%;
}

.poll .percent {
  font-size: .9em;
}

/**
 * Autocomplete.
 */
#autocomplete li {
  cursor: default;
  padding: 2px;
  margin: 0;
}

/**
 * Collapsible fieldsets
 */
 
/*
fieldset {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #ddd;
  background: #fff url(original_images/gradient-inner.png) repeat-x 0 0;  
}
*/

/* Targets IE 7. Fixes background image in field sets. 
*:first-child+html fieldset {
  padding: 0 1em 1em;
  background-position: 0 .75em;
  background-color: transparent;
}

*:first-child+html fieldset > .description, *:first-child+html fieldset .fieldset-wrapper .description {
  padding-top: 1em;
}

*/

fieldset legend {
  /* Fix disappearing legend in FFox */
  display: block;
}

*:first-child+html fieldset legend, *:first-child+html fieldset.collapsed legend {
  display: inline;
}

html.js fieldset.collapsed {
  background: transparent;
  padding-top: 0;
  padding-bottom: .6em;
}

html.js fieldset.collapsible legend a {
  padding-left: 2em; /* LTR */
  background: url(original_images/menu-expanded.gif) no-repeat 0% 50%; /* LTR */
}

html.js fieldset.collapsed legend a {
  background: url(original_images/menu-collapsed.gif) no-repeat 0% 50%; /* LTR */
}

/**
 * Syndication icons and block
 */
#block-node-0 h2 {
  float: left; /* LTR */
  padding-right: 20px; /* LTR */
}

#block-node-0 img, .feed-icon {
  float: right; /* LTR */
  padding-top: 4px;
}

#block-node-0 .content {
  clear: right; /* LTR */
}

/**
 * Login Block
 */
#user-login-form {
  text-align: center;
}
#user-login-form ul {
  text-align: left; /* LTR */
}

/**
 * User profiles.
 */
.profile {
  margin-top: 1.5em;
}
.profile h3 {
  border-bottom: 0;
  margin-bottom: 1em;
}
.profile dl {
  margin: 0;
}
.profile dt {
  font-weight: normal;
  color: #898989;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: 1.4em;
  margin-bottom: 0.45em;
}
.profile dd {
  margin-bottom: 1.6em;
}

/**
 * Admin Styles
 */
div.admin-panel,
div.admin-panel .description,
div.admin-panel .body,
div.admin,
div.admin .left,
div.admin .right,
div.admin .expert-link,
div.item-list,
.menu {
  margin: 0;
  padding: 0;
}

div.admin .left {
  float: left; /* LTR */
  width: 48%;
}
div.admin .right {
  float: right; /* LTR */
  width: 48%;
}

div.admin-panel {
  background: #fff url(original_images/gradient-inner.png) repeat-x 0 0;
  padding: 1em 1em 1.5em;
}
div.admin-panel .description {
  margin-bottom: 1.5em;
}
div.admin-panel dl {
  margin: 0;
}
div.admin-panel dd {
  color: #898989;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: -.2em;
  margin-bottom: .65em;
}

table.system-status-report th {
  border-color: #d3e7f4;
}

#autocomplete li.selected, tr.selected td, tr.selected td.active {
  background: #027ac6;
  color: #fff;
}

tr.selected td a:link, tr.selected td a:visited, tr.selected td a:active {
  color: #d3e7f4;
}

tr.taxonomy-term-preview {
  opacity: 0.5;
}

tr.taxonomy-term-divider-top {
  border-bottom: none;
}

tr.taxonomy-term-divider-bottom {
  border-top: 1px dotted #CCC;
}

/**
 * dblog.module
 */
tr.dblog-user {
  background-color: #fcf9e5;
}

tr.dblog-user td.active {
  background-color: #fbf5cf;
}

tr.dblog-content {
  background-color: #fefefe;
}

tr.dblog-content td.active {
  background-color: #f5f5f5;
}

tr.dblog-warning {
  background-color: #fdf5e6;
}

tr.dblog-warning td.active {
  background-color: #fdf2de;
}

tr.dblog-error {
  background-color: #fbe4e4;
}

tr.dblog-error td.active {
  background-color: #fbdbdb;
}
tr.dblog-page-not-found, tr.dblog-access-denied {
  background: #d7ffd7;
}
tr.dblog-page-not-found td.active, tr.dblog-access-denied td.active {
  background: #c7eec7;
}

/**
 * Status report colors.
 */
table.system-status-report tr.error, table.system-status-report tr.error th {
  background-color: #fcc;
  border-color: #ebb;
  color: #200;
}
table.system-status-report tr.warning, table.system-status-report tr.warning th {
  background-color: #ffd;
  border-color: #eeb;
}
table.system-status-report tr.ok, table.system-status-report tr.ok th {
  background-color: #dfd;
  border-color: #beb;
}

.dtool {
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  background-color: #fff;
}

#row1, #row2, #row3, #row4 {
  clear: both;
}

#row4 {
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}

#row2 {
  min-height: 120px;
}

#row4 .first {
  background-image: url('images/advanced-bg.png');
}

#row4 .dtool-main-filter:first-child {
  border-top: none;
}

.dtool td {
  padding: 0.5em;
  vertical-align: top;
}

#dtool-left {
  width: 581px;
  float: left;
}

#dtool-right {
  float: left;
  width: 175px;
}

.dtool .first {
  width: 132px;
  vertical-align: top;
  float: left;
}

.dtool .second {
  float: left;
  width: 447px;
}

.dtool div.second,
.dtool div.second-wide {
 
  border-left: solid 1px #ccc;
  vertical-align: top;
}

.dtool div.second-wide {
  width: auto;
  padding: 0;
  font-size: 0.875em;
}

.dtool div#first {
  border-right: solid 1px #ccc;
}

.dtool-heading {
  background-image: url('images/header-row-bg.jpg');
  border: solid 1px #ccc;
  min-height: 23px;
  height: 23px;
  font-size: 1.1em;
  line-height: 23px;
  margin: 0;
  text-indent: 0.5em;
  /*padding: 5px 0.5em 0 0.5em !important;*/
}

.first.dtool-heading {
  width: 131px;
  border-right: none;
}

.dtool-go {
  background-image: url('images/dtool_go_bg.png');
  text-align: center;
  padding: 0.5em;
  min-height: 158px;
}

.dtool-go input.form-submit {
  margin: 0 !important;
  padding: 0 !important;
}

.dtool-results-number {
  font-size: 2em;
  text-align: center;
  padding: 0.5em 0 0 0 !important;
  color: #1078d0;
  line-height: 100%;
}

.dtool-filters-selected {
  background-color: #fff !important;
}

.dtool-main-filter {
  margin-bottom: 1em;
}

.dtool .first .dtool-main-filter {
  background-image: url('images/main-filter.png');
  background-repeat: repeat-x;
  min-height: 35px;
  margin: 0;
  padding: 0 0 0 0.75em;
  color: #1078d0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", "Lucida Sans", sans-serif;
  font-size: 1.25em;
  line-height: 35px;
}

.dtool-advanced-main-filter {
  margin-bottom: 0;
}

.dtool-advanced {
  margin-top: 2em;
}

#dtool-advanced-label {
  background-image: url('images/advanced.png');
  background-repeat: no-repeat;
  width: 114px;
  height: 39px;
  margin: 0 auto 0;
  margin-bottom: 1em;
}

.dtool-advanced .dtool-main-filter,
.dtool .dtool-main-filter-tertiary {
  display: none;
}

.dtool .views-operator-filters,
.dtool .views-widget-filters,
.dtool .dtool-main-filter-secondary,
.dtool #second-column .views-widget-filters .dtool-main-filter-secondary {
  display: none;
  float: left;
}

.dtool .views-widget-filters {
  background-color: #f2f2f2;
  width: 190px;
}

.dtool #second-column-content .views-widget-filters {
  background-color: #fff;
}

.dtool #second-column-content .dtool-main-filter-secondary {
  padding-left: 1em;
}

.dtool #second-column-content div.form-item {
  /*margin-bottom: 0.5em !important;*/
}

.dtool #second-column {
  min-width: 190px;
  float: left;
  background-color: #fff;
}

.dtool #second-column-content, .dtool #second-column-content .first {
  background-color: #fff;
  background-image: none;
}

.dtool .form-select {
  width: 160px;
}

.dtool #third-column {
  float: left;
  min-width: 190px;
  background-color: #e2f0fb;
}

.dtool #third-column-content, .dtool #third-column-content div.first {
  background-color: #e2f0fb;
  background-image: none;
}

.dtool .inline-option {
  float: left;
  width: 135px;
}

.dtool .filter-children .inline-option {
  width: 153px;
}

.dtool .form-item label.option {
  width: 153px;
}

.dtool #second-column .dtool-main-filter-secondary {
  display: inline;
}

.dtool #second-column .dtool-main-filter-tertiary {
  margin-left: 1.5em;
}

td#first, td#second-wide {
  border-bottom: solid 1px #ccc;
}

.dtool #holder, .dtool .dtool-advanced-filters {
  display: none;
}

.dtool #dtool-advanced-filters {
  width: 190px;
  float: left;
}

#dtool-advanced-filters {
  background-color: #f2f2f2;
}

.dtool #dtool-advanced-filters .dtool-advanced-main-filter:first-child {
  margin-top: 1.5em;
}

.dtool #second-column .dtool-main-filter-secondary div, .dtool #third-column .dtool-main-filter-secondary div {
  margin-top: 0 !important;
}

.dtool #second-column-content div.option, #third-column-content div.option {
  cursor: default;
}

.dtool-advanced-label:hover, .dtool-main-filter:hover, .views-widget-filters div.filter-children div.option:hover, #second-column-content div.filter-children:hover, #second-column-content .tertiary-down div.option:hover, #third-column-content .tertiary-down div.option:hover {
  cursor: pointer !important;
}

.dtool-advanced-label, .dtool-main-filter, .views-widget-filters div.option {
  cursor: default;
  height: 15px;
  margin-bottom: 2px;
}

.dtool #edit-items-per-page {
  width: 50px;
}

.dtool .views-widget-filters div, #third-column .dtool-main-filter-secondary div, #second-column .dtool-main-filter-secondary div {
  margin: 0;
  /*padding: 0.3em 0.75em 0 0.75em;*/
  padding: 0.15em 0 0.1em 0.75em;
}

.dtool .dtool-advanced-main-filter {
  background-image: url('images/tab-sub-expand.png');
}

.dtool .main-filter-on {
  background-image: url('images/main-filter-on.png') !important;
  color: #fff !important;
}

.dtool #dtool-advanced-label.main-filter-on {
  background-image: url('images/advanced-on.png') !important;
}

.dtool .sub-filter-on {
  background-image: url('images/tab-sub-on.png') !important;
  color: #1078d0 !important;
  min-height: 19px;
  font-weight: bold;
}

.dtool .dtool-advanced-main-filter.sub-filter-on {
  background-image: url('images/tab-sub-on-expand.png') !important;
}

.dtool .form-item.filter-children {
  background-image: url('images/tab-sub-expand.png');
}

.dtool #second-column-content .form-item.filter-children {
  background-image: url('images/tertiary-expand.png');
}

.dtool #second-column-content .form-item.filter-children.tertiary-filter-on {
  background-image: url('images/tertiary-on-expand.png');
}

.dtool .form-item.tertiary-down {
  background-image: url('images/tertiary-down-expand.png');
  min-width: 160px;
  background-position: 20% 50%;
  background-repeat: no-repeat;
}

.dtool #second-column .form-item.tertiary-down {
  background-image: url('images/tab-sub-down.png');
}

.dtool .form-item.tertiary-down-expand {
  background-image: url('images/tertiary-down.png');
}

.dtool #second-column .form-item.tertiary-down-expand {
  background-image: url('images/tab-sub-down-on.png');
}

.dtool div.filter-children.sub-filter-on {
  background-image: url('images/tab-sub-on-expand.png') !important;
}

.dtool #third-column-content .sub-filter-on {
  background-image: none !important;
}

.dtool .sub-filter-selected, .tertiary-filter-selected {
  color: #1078d0 !important;
  font-weight: bold;
}

.dtool .bef-select-as-checkboxes {
  margin: 0;
  padding: 0 !important;
}

.dtool #second-column #second-column-top {
  height: 11px;
  width: 30px;
  background-image: url('images/sub-curve-top.png');
  background-repeat: no-repeat;
  display: none;
}

.dtool #second-column #second-column-bottom {
  height: 9px;
  width: 28px;
  background-image: url('images/sub-curve-bottom.png');
  background-repeat: no-repeat;
  display: none;
  clear: both;
}

.dtool td.second-wide .views-widget-filters select {
  width: 125px;
}

.dtool .dtool-advanced-filters .dtool-advanced-main-filter {
  height: auto !important;
  padding: 0.3em 0.75em 0 !important;
  background-color: #f2f2f2;
  margin-bottom: 0 !important;
}

.tertiary-filter-on {
  background-image: url('images/tertiary-on.png');
  background-repeat: no-repeat;
}

#second-column-content .views-widget-filters div.form-item {
  min-height: 18px !important;
}

.dtool #third-column #third-column-top {
  height: 11px;
  width: 30px;
  background-image: url('images/tertiary-curve-top.png');
  background-repeat: no-repeat;
  display: none;
}

.dtool #third-column #third-column-bottom {
  height: 11px;
  width: 100%;
  background-image: url('images/tertiary-curve-bottom.png');
  background-repeat: no-repeat;
  display: none;
  clear: both;
}

.dtool .form-radios {
  margin: 0;
}

.main-button {
  min-height: 13px;
}

.filter-button-left, .sub-button-left {
  width: 8px;
  height: 13px;
  background-image: url('images/left-curve-button-regular.png');
  background-repeat: no-repeat;
  float: left;
}

.filter-button-right, .sub-button-right {
  width: 7px;
  height: 13px;
  background-image: url('images/right-button-curve-regular.png');
  background-repeat: no-repeat;
  float: left;
}

.filter-button-text, .sub-button-text {
  min-width: 5px;
  float: left;
  font-size: 0.8em;
  background-color: #bdbdbd;
  line-height: 13px;
  min-height: 13px;
  
}

.main-button .filter-button-text {
  font-weight: bold;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: #000;
}

.filter-button-x, .sub-button-x {
  height: 13px;
  width: 9px;
  background-image: url('images/button-regular-x.png');
  background-repeat: no-repeat;
  float: left;
}

#dtool-filters-selected {
  min-height: 120px;
}

.filter-button {
  margin: 0.5em;
  float: left;
  min-width: 30px;
}

.filter-button:hover {
  cursor: pointer;
}

.dtool input {
  max-width: 170px;
  float: left;
  margin-top: 2px;
}

#clear-all-button:hover {
  cursor: pointer;
}

/* -kjs homepage styles */

#block-ddblock-1 .content{
  margin:0;
}

img.ddblock-processed{
  padding:0px !important;
  border:0px solid #DDDDDD !important;
}

#block-gotmusic .content, #block-wantmusic .content, #block-block-5 .content{
  margin:0;
}
